@charset "utf-8";
/* CSS Document */



body {
	background-color: #f2caa7;
	
	font-family: p22-nudgewink-pro, sans-serif;
	font-style: normal;
          font-weight: 700;
}

.logo img{
	width: 300px;
	display: block;
	margin: auto;
	padding-top: 80px;
	
}

.CenterSquare {
	background-color: white;
	height: 500px;
	width: 700px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	
}

.CenterSquare iframe {
		width: 670px; 
		height: 450px;
		margin-top: 25px;
		margin-left: 15px;
}


.container {
	display: flex;
	justify-content: center;
	
	}
.LeftButtonSquare {
	background-color: white;
	height: 70px;
	width: 70px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	margin-bottom: 10%;
}

.RightButtonSquare {
	background-color: white;
	height: 70px;
	width: 70px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	margin-bottom: 10%;
	margin-left: 20px;
}

/* The following code is used to make the blue navigational arrows for the picture gallery*/
.arrow {
  border: solid #008DCD;
  /*Border-width is used to determine which side of the square is visible to create the arrows seen beneath the photo gallery*/
  border-width: 0px 7px 7px 0px;
  display: inline-block;
  padding: 20px;
  border-radius: 10%;
}
/* Border-width is used to create the look of the arrows*/

.right {
  transform: rotate(-45deg);
  margin: 12px 0px 0px 2px;
}

.left {
  transform: rotate(135deg);
  margin: 12px 0px 0px 24px;
}
/* The arrows are displayed as right and left separately*/

/*The circle's are displayed left to right*/
.Circle_1 {
  border: solid #28343B;
  border-width: 7px 7px 7px 7px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 12px 0px 0px 20px;
  background-color: #28343B;
}

.Circle_2 {
  border: solid #28343B;
  border-width: 7px 7px 7px 7px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 12px 0px 0px 20px;
}

.Circle_3 {
  border: solid #28343B;
  border-width: 7px 7px 7px 7px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 12px 0px 0px 20px;
}

.Circle_4 {
  border: solid #28343B;
  border-width: 7px 7px 7px 7px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 12px 0px 0px 20px;
}

.NewsHeader {
	display: flex;
	justify-content: center;
	font-size: 100px;
	margin-top: 50px;
	font: p22-nudgewink-pro, sans-serif;
	color: white;
	/* 
	text-shadow: -3px 3px 0px #000,
				  3px 3px 0px #000,
				  3px -3px 0px #000,
				  -3px -3px 0 #000;
	*/
}

h{
	-webkit-text-stroke-width: 3.2px;
    -webkit-text-stroke-color: black;
	
}