@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body::-webkit-scrollbar{
	display:none;
}

html, body {
	background-color: #f2caa7;
	font-family: p22-nudgewink-pro, sans-serif;
	font-style: normal;
          font-weight: 700;
}

.logo img{
	width: 300px;
	display: block;
	margin: auto;
	padding-top: 80px;
	
}

.CenterSquare {
	
	background-color: white;
	height: 500px;
	width: 700px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
	
	
}

.CenterSquare iframe {
		width: 670px; 
		height: 450px;
		margin-top: 25px;
	
}

.CenterSquare img {
	
	display:block;
	width: 670px; 
	height: 450px;
	margin-top: 25px;
	
	
}


.buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 3%;
	
	}
#L_button {
	background-color: white;
	height: 70px;
	width: 70px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	border: none;
	
}

#R_button {
	background-color: white;
	height: 70px;
	width: 70px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	margin-left: 20px;
	border: none;
}

/* The following code is used to make the blue navigational arrows for the picture gallery*/
.arrow {
  border: solid #008DCD;
  /*Border-width is used to determine which side of the square is visible to create the arrows seen beneath the photo gallery*/
  border-width: 0px 7px 7px 0px;
  display: inline-block;
  padding: 20px;
  border-bottom-right-radius: 20%;

}
/* Border-width is used to create the look of the arrows*/

.right {
  transform: rotate(-45deg);
  margin: 5px 0px 0px -4px;
}

.left {
  transform: rotate(135deg);
  margin: 5px 0px 0px 6px;
}
/* The arrows are displayed as right and left separately*/

/*The circle's are displayed left to right*/
.Circle_1 {
  border: solid #28343B;
  border-width: 7px 7px 7px 7px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 12px 0px 0px 20px;
  background-color: #28343B;
}

.Circle_2 {
  border: solid #28343B;
  border-width: 7px 7px 7px 7px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 12px 0px 0px 20px;
}

.Circle_3 {
  border: solid #28343B;
  border-width: 7px 7px 7px 7px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 12px 0px 0px 20px;
}

.Circle_4 {
  border: solid #28343B;
  border-width: 7px 7px 7px 7px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 12px 0px 0px 20px;
}

.NewsHeader {
	display: flex;
	justify-content: center;
	font-size: 100px;
	font: p22-nudgewink-pro, sans-serif;
	color: #ff6d07;
	text-shadow: 5px 4px rgb(40, 52, 59);
	
}


.NewsSquare {
	display: flex;
	justify-content: center;
}

.News_Square_1 {
	background-color: white;
	height: 300px;
	width: 400px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	margin-left: auto;
	margin-right: 50px;
	margin-top: 1%;
	margin-bottom: 2%;
	overflow:hidden;
	overflow-y: scroll;
	
}

/*Hides scrollbar in News_Square_1*/
.News_Square_1::-webkit-scrollbar {
    display: none;
}

.News_Square_2 {
	background-color: white;
	height: 300px;
	width: 400px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 2%;
	overflow:hidden;
	overflow-y: scroll;
}

/*Hides scrollbar in News_Square_2*/
.News_Square_2::-webkit-scrollbar {
    display: none;
}

.News_Square_3 {
	background-color: white;
	height: 500px;
	width: 850px;
	border-radius: 6%;
	box-shadow: 6px 6px rgb(40, 52, 59);
	margin-right: auto;
	margin-left: auto;
	margin-top: 1%;
	margin-bottom: 10%;
}