body {
    background-color: #F2CAA7;
    overflow-x: visible;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 7%;
}

h1 {
    font-family: p22-nudgewink-pro, sans-serif;
    font-style: normal;
    font-weight: 700;

}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: white;
    text-shadow: 3px 3px rgb(40, 52, 59);
}

/* Navigation */

nav.page-navigation {
    width: 250px;
    background-color: rgb(255, 109, 7);
    position: fixed;
    top: 30%;
    left: 0;
    border-radius: 0% 5% 5% 0%;
    box-shadow: 2px 2px rgb(40, 52, 59);
}

nav.page-navigation li {
    width: 100%;
}

nav.page-navigation a {
    padding: 0.6em 10%;
    width: 80%;
    font-family: p22-nudgewink-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

}

ul {
    list-style: none;
    padding-bottom: 10px;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;

}


a:active {
    text-decoration: none;
}


/* Knap hover */

button {
    transition-duration: 0.4s;
    color: white;

}

button:hover {
    background-color: white;
    color: black;

}

/* Media query til 1920 x 1080 skærme */

@media screen and (max-width: 1920px) {


    /* Top menu */

    .Top_Menu_Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
    }

    .btn-1 {
        background-color: #008DCD;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        font-family: p22-nudgewink-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        box-shadow: 3px 3px rgb(40, 52, 59);
        border-radius: 10%;
        margin-top: 10px;
        outline: none;
        position: relative;
        z-index: 1;
    }

    /*Adds color to font and that button effect is activated with cursor*/
    .btn-1:hover {
        color: #008DCD;
        cursor: pointer;


    }

    .btn-1:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: white;

    }

    .btn-1:hover:before {
        transition: 0.5 all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 10%;
    }

    .btn-2 {
        background-color: #008DCD;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        font-family: p22-nudgewink-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        box-shadow: 3px 3px rgb(40, 52, 59);
        border-radius: 10%;
        margin-top: 10px;
        outline: none;
        position: relative;
        z-index: 1;


    }

    .btn-2:hover {
        color: #008DCD;
        cursor: pointer;


    }

    .btn-2:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: white;

    }

    .btn-2:hover:before {
        transition: 0.5 all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 10%;
    }

    .btn-3 {
        background-color: #008DCD;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        font-family: p22-nudgewink-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        box-shadow: 3px 3px rgb(40, 52, 59);
        border-radius: 10%;
        margin-top: 10px;
        outline: none;
        position: relative;
        z-index: 1;


    }

    .btn-3:hover {
        color: #008DCD;
        cursor: pointer;


    }

    .btn-3:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: white;

    }

    .btn-3:hover:before {
        transition: 0.5 all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 10%;
    }

    .btn-4 {
        background-color: #008DCD;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        font-family: p22-nudgewink-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        box-shadow: 3px 3px rgb(40, 52, 59);
        border-radius: 10%;
        margin-top: 10px;
        outline: none;
        position: relative;
        z-index: 1;


    }

    .btn-4:hover {
        color: #008DCD;
        cursor: pointer;


    }

    .btn-4:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: white;

    }

    .btn-4:hover:before {
        transition: 0.5 all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 10%;
    }


    #datoSommer {
        position: absolute;
        top: 51%;
        left: 40.5%;
        font-size: 25px;

    }

    #datoVinter {
        position: absolute;
        top: 150%;
        left: 40.5%;
        font-size: 25px;
    }

    #datoCosplay {
        position: absolute;
        top: 249%;
        left: 41.5%;
        font-size: 25px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;


    }

    /* Tekst */
    h1 {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        top: 47.5%;
        left: 45%;
    }



    .KoyoSommerTekst {
        position: absolute;
        top: 63%;
        left: 35%;

    }


    .sovesalSommer {
        position: absolute;
        top: 85%;
        left: 41%;
        z-index: 3;
        font-size: 14px;

    }


    .lokationSommer {
        position: absolute;
        top: 85%;
        left: 33%;
        z-index: 3;
        font-size: 14px;
    }

    .prisSommer {
        position: absolute;
        top: 85%;
        left: 49%;
        z-index: 3;
        font-size: 14px;

    }

    /* Countdowns */

    #demo {
        position: absolute;
        top: 53%;
        left: 43%;
        z-index: 4;
        font-size: 35px;
    }

    #demo2 {
        position: absolute;
        top: 153%;
        left: 43%;
        z-index: 4;
        font-size: 35px;
    }

    #demo3 {
        position: absolute;
        top: 252%;
        left: 46.5%;
        z-index: 4;
        font-size: 35px;
    }

    /* Ikoner */

    .sovesalIkon1 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 80%;
        left: 42.3%;
        z-index: 2;

    }

    .prisIkon1 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 80%;
        left: 50.2%;
        z-index: 2;

    }

    .lokationIkon1 {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 80%;
        left: 34.2%;
        z-index: 2;
    }





    /* Firkanter og knapper */



    .designSquare1 {
        width: 32%;
        height: 15px;
        background-color: rgb(255, 109, 7);
        border-radius: 50px;
        position: absolute;
        top: 62%;
        left: 34%;
    }

    .square {
        width: 40%;
        background-color: white;
        border-radius: 5%;
        box-shadow: 6px 6px rgb(40, 52, 59);
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 150px;
    }

    .square:after {

        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .squareButtons {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 80%;
        left: 33%
    }

    .squareButtons2 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 80%;
        left: 41%;
    }

    .squareButtons3 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 80%;
        left: 49%;
    }

    .squareButtons4 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 80%;
        left: 60%;
    }

    .squareButtons5 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 85%;
        left: 60%;
    }

    .squareButtons6 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 90%;
        left: 60%;
    }

    /* Anden firkant */

    /* Firkanter og knapper */

    .designSquare2 {
        width: 32%;
        height: 15px;
        background-color: rgb(255, 109, 7);
        border-radius: 50px;
        position: absolute;
        top: 162%;
        left: 34%;
    }

    .square2Buttons {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 180%;
        left: 33%
    }

    .square2Buttons2 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 180%;
        left: 41%;
    }

    .square2Buttons3 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 180%;
        left: 49%;
    }

    .square2Buttons4 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 180%;
        left: 60%;
    }

    .square2Buttons5 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 185%;
        left: 60%;
    }

    .square2Buttons6 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 190%;
        left: 60%;
    }

    /* Ikoner */

    .sovesalIkon2 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 180%;
        left: 42.5%;
        z-index: 2;

    }

    .prisIkon2 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 180%;
        left: 50.5%;
        z-index: 2;

    }

    .lokationIkon2 {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 180%;
        left: 34.5%;
        z-index: 2;
    }

    /* Tekstelementer */

    .KoyoVinter {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        top: 146%;
        left: 45.5%;
    }

    .KoyoVinterTekst {
        position: absolute;
        top: 163%;
        left: 35%;
    }

    .prisVinter {
        position: absolute;
        top: 185%;
        left: 49%;
        z-index: 3;
        font-size: 14px;
    }

    .lokationVinter {
        position: absolute;
        top: 185%;
        left: 33%;
        z-index: 3;
        font-size: 14px;
    }

    .sovesalVinter {
        position: absolute;
        top: 185%;
        left: 41%;
        z-index: 3;
        font-size: 14px;
    }

    /* Tredje firkant */

    /* Firkanter og knapper */

    .designSquare3 {
        width: 32%;
        height: 15px;
        background-color: rgb(255, 109, 7);
        border-radius: 50px;
        position: absolute;
        top: 261%;
        left: 34%;
    }

    .square3Buttons {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 280%;
        left: 33%
    }

    .square3Buttons2 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 280%;
        left: 41%;
    }

    .square3Buttons3 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 280%;
        left: 49%;
    }

    .square3Buttons4 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 280%;
        left: 60%;
    }

    .square3Buttons5 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 285%;
        left: 60%;
    }

    .square3Buttons6 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 290%;
        left: 60%;
    }

    /* Ikoner */

    .sovesalIkon3 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 280%;
        left: 42.2%;
        z-index: 2;

    }

    .prisIkon3 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 280%;
        left: 50.2%;
        z-index: 2;

    }

    .lokationIkon3 {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 280%;
        left: 34.2%;
        z-index: 2;
    }

    /* Tekstelementer */

    .KoyoCosplayTekst {
        position: absolute;
        top: 262%;
        left: 35%;
    }

    .madCosplay {
        position: absolute;
        top: 285%;
        left: 50%;
        z-index: 3;
        font-size: 14px;
    }

    .lokationCosplay {
        position: absolute;
        top: 285%;
        left: 32%;
        z-index: 3;
        font-size: 14px;
    }

    .sovesalCosplay {
        position: absolute;
        top: 285%;
        left: 40%;
        z-index: 3;
        font-size: 14px;
    }

    .CosplayCamp {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        top: 245%;
        left: 45%;
    }

}


/* Mediaquery til 2240 x 1400 skærme */

@media screen and (min-width:1921px) and (max-width: 2240px) {


    .Top_Menu_Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
    }

    .btn-1 {
        background-color: #008DCD;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        font-family: p22-nudgewink-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        box-shadow: 3px 3px rgb(40, 52, 59);
        border-radius: 10%;
        margin-top: 10px;
        outline: none;
        position: relative;
        z-index: 1;
    }

    /*Adds color to font and that button effect is activated with cursor*/
    .btn-1:hover {
        color: #008DCD;
        cursor: pointer;


    }

    .btn-1:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: white;

    }

    .btn-1:hover:before {
        transition: 0.5 all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 10%;
    }

    .btn-2 {
        background-color: #008DCD;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        font-family: p22-nudgewink-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        box-shadow: 3px 3px rgb(40, 52, 59);
        border-radius: 10%;
        margin-top: 10px;
        outline: none;
        position: relative;
        z-index: 1;


    }

    .btn-2:hover {
        color: #008DCD;
        cursor: pointer;


    }

    .btn-2:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: white;

    }

    .btn-2:hover:before {
        transition: 0.5 all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 10%;
    }

    .btn-3 {
        background-color: #008DCD;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        font-family: p22-nudgewink-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        box-shadow: 3px 3px rgb(40, 52, 59);
        border-radius: 10%;
        margin-top: 10px;
        outline: none;
        position: relative;
        z-index: 1;


    }

    .btn-3:hover {
        color: #008DCD;
        cursor: pointer;


    }

    .btn-3:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: white;

    }

    .btn-3:hover:before {
        transition: 0.5 all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 10%;
    }

    .btn-4 {
        background-color: #008DCD;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        font-family: p22-nudgewink-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        box-shadow: 3px 3px rgb(40, 52, 59);
        border-radius: 10%;
        margin-top: 10px;
        outline: none;
        position: relative;
        z-index: 1;


    }

    .btn-4:hover {
        color: #008DCD;
        cursor: pointer;


    }

    .btn-4:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0%;
        opacity: 0;
        content: "";
        background-color: white;

    }

    .btn-4:hover:before {
        transition: 0.5 all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 10%;
    }


    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;


    }

    /* Tekst */
    h1 {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        top: 30%;
        left: 43.5%;
    }



    .KoyoSommerTekst {
        position: absolute;
        top: 39%;
        left: 31%;

    }

    .ordensregler1 {
        position: absolute;
        top: 57.5%;
        left: 60.5%;
        z-index: 3;
        color: white;
    }

    .conomraade1 {
        position: absolute;
        top: 69.5%;
        left: 60.5%;
        z-index: 3;
        color: white;
    }

    .events1 {
        position: absolute;
        top: 63.5%;
        left: 62%;
        z-index: 3;
        color: white;
    }

    .sovesalSommer {
        position: absolute;
        top: 63.5%;
        left: 41%;
        z-index: 3;
        font-size: 14px;

    }


    .lokationSommer {
        position: absolute;
        top: 63.5%;
        left: 33%;
        z-index: 3;
        font-size: 14px;
    }

    .prisSommer {
        position: absolute;
        top: 63.5%;
        left: 49%;
        z-index: 3;
        font-size: 14px;

    }

    /* Countdowns */

    #demo {
        position: absolute;
        top: 23%;
        left: 41.5%;
        z-index: 4;
        font-size: 35px;
    }

    #demo2 {
        position: absolute;
        top: 123%;
        left: 41%;
        z-index: 4;
        font-size: 35px;
    }

    #demo3 {
        position: absolute;
        top: 220%;
        left: 44.5%;
        z-index: 4;
        font-size: 35px;
    }

    /* Ikoner */

    .sovesalIkon1 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 58%;
        left: 42.5%;
        z-index: 2;

    }

    .prisIkon1 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 58%;
        left: 50.5%;
        z-index: 2;

    }

    .lokationIkon1 {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 57.5%;
        left: 34.5%;
        z-index: 2;
    }





    /* Firkanter og knapper */



    .designSquare1 {
        width: 32%;
        height: 15px;
        background-color: rgb(255, 109, 7);
        border-radius: 50px;
        position: absolute;
        top: 38%;
        left: 34%;
    }

    .square {
        width: 40%;
        background-color: white;
        border-radius: 5%;
        box-shadow: 6px 6px rgb(40, 52, 59);
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 200px;
    }

    .square:after {

        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .squareButtons {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 57%;
        left: 33%
    }

    .squareButtons2 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 57%;
        left: 41%;
    }

    .squareButtons3 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 57%;
        left: 49%;
    }

    .squareButtons4 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 59%;
        left: 60%;
    }

    .squareButtons5 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 65%;
        left: 60%;
    }

    .squareButtons6 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 71%;
        left: 60%;
    }

    /* Anden firkant */

    /* Firkanter og knapper */

    .designSquare2 {
        width: 32%;
        height: 15px;
        background-color: rgb(255, 109, 7);
        border-radius: 50px;
        position: absolute;
        top: 138%;
        left: 34%;
    }

    .square2Buttons {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 157%;
        left: 33%
    }

    .square2Buttons2 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 157%;
        left: 41%;
    }

    .square2Buttons3 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 157%;
        left: 49%;
    }

    .square2Buttons4 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 159%;
        left: 60%;
    }

    .square2Buttons5 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 165%;
        left: 60%;
    }

    .square2Buttons6 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 171%;
        left: 60%;
    }

    /* Ikoner */

    .sovesalIkon2 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 158%;
        left: 42.5%;
        z-index: 2;

    }

    .prisIkon2 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 158%;
        left: 50.5%;
        z-index: 2;

    }

    .lokationIkon2 {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 157.5%;
        left: 34.5%;
        z-index: 2;
    }

    /* Tekstelementer */

    .ordensregler2 {
        position: absolute;
        top: 157.5%;
        left: 60.5%;
        z-index: 3;
        color: white;
    }

    .conomraade2 {
        position: absolute;
        top: 169.5%;
        left: 60.5%;
        z-index: 3;
        color: white;
    }

    .events2 {
        position: absolute;
        top: 163.5%;
        left: 62%;
        z-index: 3;
        color: white;
    }

    .KoyoVinter {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        top: 130%;
        left: 44.5%;
    }

    .KoyoVinterTekst {
        position: absolute;
        top: 139%;
        left: 31%;
    }

    .prisVinter {
        position: absolute;
        top: 163.5%;
        left: 49%;
        z-index: 3;
        font-size: 14px;
    }

    .lokationVinter {
        position: absolute;
        top: 163.5%;
        left: 33%;
        z-index: 3;
        font-size: 14px;
    }

    .sovesalVinter {
        position: absolute;
        top: 163.5%;
        left: 41%;
        z-index: 3;
        font-size: 14px;
    }

    /* Tredje firkant */

    /* Firkanter og knapper */

    .designSquare3 {
        width: 32%;
        height: 15px;
        background-color: rgb(255, 109, 7);
        border-radius: 50px;
        position: absolute;
        top: 236%;
        left: 34%;
    }

    .square3Buttons {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 257%;
        left: 33%
    }

    .square3Buttons2 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 257%;
        left: 41%;
    }

    .square3Buttons3 {
        height: 40px;
        width: 80px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 257%;
        left: 49%;
    }

    .square3Buttons4 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 259%;
        left: 60%;
    }

    .square3Buttons5 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 265%;
        left: 60%;
    }

    .square3Buttons6 {
        height: 25px;
        width: 100px;
        border-radius: 10%;
        box-shadow: 3px 3px rgb(40, 52, 59);
        background-color: rgb(0, 141, 205);
        z-index: 2;
        position: absolute;
        top: 271%;
        left: 60%;
    }

    /* Ikoner */

    .sovesalIkon3 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 258%;
        left: 42.5%;
        z-index: 2;

    }

    .prisIkon3 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 258%;
        left: 50.5%;
        z-index: 2;

    }

    .lokationIkon3 {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 257.5%;
        left: 34.5%;
        z-index: 2;
    }

    /* Tekstelementer */

    .ordensregler3 {
        position: absolute;
        top: 257.5%;
        left: 60.5%;
        z-index: 3;
        color: white;
    }

    .conomraade3 {
        position: absolute;
        top: 269.5%;
        left: 60.5%;
        z-index: 3;
        color: white;
    }

    .events3 {
        position: absolute;
        top: 263.5%;
        left: 62%;
        z-index: 3;
        color: white;
    }

    .KoyoCosplayTekst {
        position: absolute;
        top: 237%;
        left: 31%;
    }

    .madCosplay {
        position: absolute;
        top: 263.5%;
        left: 50%;
        z-index: 3;
        font-size: 14px;
    }

    .lokationCosplay {
        position: absolute;
        top: 263.5%;
        left: 32%;
        z-index: 3;
        font-size: 14px;
    }

    .sovesalCosplay {
        position: absolute;
        top: 263.5%;
        left: 40%;
        z-index: 3;
        font-size: 14px;
    }

    .CosplayCamp {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        top: 228%;
        left: 42%;
    }


}